node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
*.log
*.tsbuildinfo
.vscode
.idea
.env
coverage
test-results
playwright-report
accessibility-snapshots
todo-app.spec.ts-snapshots
allure-report
allure-results
tests-examples