node_modules/
/test-results/
/blob-report/
/playwright/.cache/
/playwright-report/
/tests-examples/
/allure-report/
/allure-results/
*.log
.env
.vscode/
.idea/
.*tsbuildinfo
coverage/
accessibility-snapshots/
todo-app.spec.ts-snapshots/
*.tmp
*.swp
.DS_Store
Thumbs.db